# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/
*.pyre/

# ROS 2 / colcon
build/
install/
log/
*.pyc

# VS Code
.vscode/

# JetBrains / PyCharm
.idea/

# Mac / Linux temporary files
*.swp
*~
*.bak

# C / C++ / build artifacts
*.o
*.obj
*.so
*.a
*.out
*.exe

# Python virtual environment
venv/
.env/
.env.bak
